*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: 'Short Stack', cursive;
}

#navbar{
    color: #fff;
    display: flex;  /* yanyana gelmesi icin */
    justify-content: space-between;
    align-items: center;  /* itemlarin div icinde ortalamasi icin */
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;  /* home about kismini yanyana fetirmek icin*/
    align-items: center;
}

#navbar ul li a {
    padding: 0 0.75rem;
}

#navbar ul li a:hover {
    background-color: #9CCC65;
    border-radius: 8px;
    
}


/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img{
    max-width: 100%;  /* icinde buludugu her yeri kapsasin*/
    height: auto;  /* height kendisini otomatik oalrak width e gore ayarlasin */
    border-radius: 100%; /* tam oval hale getirmek icin*/
}

#home .name h2{
    margin-bottom: 0.75rem;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

#home a{
    margin-top: 1.25rem;
    background-color: #689F38;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

#home a:hover{
    color: #689F38;
    background-color: #fff;
    border: 2px solid #689F38;
}


#myprojects{
    color: #fff;
    padding: 1rem;
}

#myprojects .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myprojects .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#myprojects .items .item :hover{
    color: orange;
    
}


#experiences{
    color: #333;
    padding: 1rem;
}

.img3{
    height: 150px;
    width: 150px;
}

.experience{
    display: flex; 
    flex-direction: column;
    padding: 1rem;
}

.experiences .experience{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.experiences .experience .experience-image{
    margin-right: 1rem;
    position: relative;  /* spani uste almak icin bunun postion u relatice olmali. yani kapsayicinin */
}

.experiences .experience .experience-image img{
   border-radius: 8px;
}


.experiences .experience .experience-image span{
    background-color: orange;
    padding: 0.25rem;
    color: #689F38;
    border-radius: 4px;
    position: absolute; /*yukarda position relatie yapmamizin nedeni bunu position absolute yaparak image in ustune alabilmke icin. */
    top: 10px;
    left: 0;
}

.experiences .experience .ex-info .title {
    letter-spacing: 1.2px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.experiences .experience .ex-info .description {
    letter-spacing: 1.2px;
    opacity: 0.6;
    margin-bottom: 0.5rem;
}

.experiences .experience .ex-info .position {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.5rem;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-instagram {
    background: hsl(5, 88%, 50%);
    color: white;
  }

  #contact{
      color: #fff;
      padding: 1rem;
  }

  #contact .contact-form{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
  }

  #contact .contact-form ul{
      list-style-type: none;
      display: flex;
      margin-top: 1rem;
      align-self: center;
  }

  #contact .contact-form ul li a{
      padding: 1rem;
   

  }